# Demo Mode (set to 'true' untuk guna mock data tanpa Supabase)
NEXT_PUBLIC_DEMO_MODE=false

# Supabase (optional in demo mode)
NEXT_PUBLIC_SUPABASE_URL=https://yujnwiqzsvartpyzxlvi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl1am53aXF6c3ZhcnRweXp4bHZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5MTQzMTUsImV4cCI6MjA5ODQ5MDMxNX0.zB0w0zGbAQ3NnlXErI0tUcDHQKSVgfnyP0YK1-NBP60
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl1am53aXF6c3ZhcnRweXp4bHZpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjkxNDMxNSwiZXhwIjoyMDk4NDkwMzE1fQ.PY1wevGVfOCznSSrxbJKv8-HLpxOh8NQKcNcUaVtDMc

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
